@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-green, 900);
$app-accent:  mat-palette($mat-gray, 900);
$app-highlight: mat-palette($mat-lime, 700);
$app-background: mat-palette($mat-brown, 100);
$app-warn:    mat-palette($mat-red, 800);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$highlight: mat-color($app-highlight);
$background: mat-color($app-background);
$warn: mat-color($app-warn);

$navbar-height: 70px;

