nav {
  height: 66px;
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: #ffffff;

  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    .logo {
      font-family: "Lobster", cursive;
      font-size: 24px;
    }
  }

  ul {
    padding-inline-start: 0px;
    list-style-type: none;
    background-color: #ffffff;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 16px;

    @media screen and (min-width: 480px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .nav-item {
      margin: 0 16px;
      @media screen and (max-width: 480px) {
        height: 36px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
