<nav>
  <div class="left">
    <a routerLink="home" class="logo">
      Vanderhelm
    </a>
    <button *ngIf="isMobile" (click)="openMenu()"><img src="../../assets/baseline-menu-24px.svg" alt="navigation menu"></button>
  </div>
  <div (clickOutside)="showMobileMenu && closeMenu()">
    <ul *ngIf="!isMobile || showMobileMenu" class="nav-list">
      <li class="nav-item"><a (click)="closeMenu()" routerLink="/projects">Projects</a></li>
      <li class="nav-item"><a (click)="closeMenu()" routerLink="/food">Food</a></li>
      <li class="nav-item"><a (click)="closeMenu()" routerLink="/about">About</a></li>
      <li class="nav-item"><a (click)="closeMenu()" routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
