<div class="wrapper">
  <div class="navbar">
    <a routerLink="home" class="logo">
      <img class="logo-img" src="assets/logo_white_thick_16.svg" alt="StarMind Logo">
      <span class="logo-text">STARMIND</span>
    </a>
    <ul class="navbar-list">
      <li><a class="navbar-list__item" routerLink="/projects">Projects</a></li>
      <li><a class="navbar-list__item" routerLink="/blog">Blog</a></li>
      <li><a class="navbar-list__item" routerLink="/about">About</a></li>
      <li><a class="navbar-list__item" routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</div>