<div class="wrapper">
  <mat-tab-group mat-stretch-tabs mat-align-tabs="center" class="container">
    <mat-tab label="Login" class="tab">
      <div [formGroup]="loginForm" class="form">
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          type="email"
        />
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
        <button mat-raised-button (click)="login()" cdkFocusInitial>
          Login
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Register">
      <div [formGroup]="loginForm" class="form">
        <input
          matInput
          placeholder="Email"
          formControlName="email"
          type="email"
        />
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          type="password"
        />
        <input
          matInput
          placeholder="Confirm password"
          formControlName="password"
          type="password"
        />
        <button mat-raised-button (click)="login()" cdkFocusInitial>
          Register
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
