@import "~src/sass/variables"; 

.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(45deg, $primary, $highlight);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -$navbar-height;
}

.container {
    max-width: 400px;
    min-width: 300px;
}

::ng-deep .mat-tab-header-pagination {
    display: none !important;
}

::ng-deep .mat-tab-label, ::ng-deep .mat-tab-label-active {
    min-width: 80px !important;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

input {
    background-color: #ffffff;

    font-size: 14px;

    border-radius: 34px;
    border-width: 0px;
    height: 50px;
    width: 100%;
    margin: 16px;
    padding: 0 16px;
}

button {
    margin-top: 16px;
    border-radius: 40px;
}